<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../media/_defaultIcons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">
        <!-- Back button -->
        <a href="javascript:void(0)" class="backButton">
            <img src="../../media/_defaultIcons/icon-arrowBack.svg" alt="Icono botón atras">
            Atrás
        </a>


        <!-- #region ContentBox -->
        <div class="contentBox mxw-550px">
            <!-- Tracking -->
            <div class="trackingMain mb-24px">
                <h2 tabindex="0" class="trackingMain__title">Autenticación</h2>
                <ul class="trackingMain__dataNav">
                    <li class="complete"></li>
                    <li class=""></li>
                    <li class=""></li>
                </ul>
            </div>

            <h2 class="contentBox__title--large">
                Verifique su identidad
            </h2>

            <p class="contentBox__text ta-center">
                Tomaremos una foto de su documento de identificación.
            </p>

            <div class="contentBox__gifContainer">
                <img src="../../media/GIFs/scanBackId.gif" alt="">
            </div>

            <p class="contentBox__text ta-center">
                Enfoque su cédula acorde con las instrucciones que le compartiremos. La foto se tomará automáticamente.
            </p>

            <form class="formApp">
                <label class="checkbox">
                    Acepto la <a href="javascript:void(0)" class="fw-bold">Autorización de tratamiento de datos
                    personales y consulta y reporte en operadores de información.</a>
                    <input type="checkbox" onclick="checkBullet(this,'nextButton')">
                    <div class="checkbox__indicator"></div>
                </label>
            </form>
        </div>
        <!-- #endregion ContentBox -->


        <!-- Buttons -->
        <div class="contButtons">
            <button id="nextButton" type="button" class="button--primary" disabled>Continuar</button>
        </div>

    </section>

    <!-- call script -->
    <script src="../../js/main.js"></script>
    <script src="../../js/forms.js"></script>
</body>

</html>