<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../media/_defaultIcons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../plugins/swiper/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">
        <!-- back button -->
        <a href="javascript:void(0)" class="backButton">
            <img src="../media/_defaultIcons/icon-arrowBack.svg" alt="Icono botón atras">
            Atrás
        </a>

        <!--  ContentBox -->
        <div class="contentBox mxw-550px">
            <!-- Titulo   -->
            <h2 class="contentBox__title">Beneficios y características</h2>
            <!-- Lista beneficios   -->
            <ul class="listBenefits">
                <p class="contentBox__text pl-6px">Afiliese en línea y acceda de manera inmediata a:</p>
                <li class="listBenefits__itemCenter">
                    <img src="../media/extraIcons/icon-circleDolar.svg" alt="Benefit icon">
                    <p>
                        Tarifas preferenciales para aceptar múltiples medios de pago en su negocio.
                    </p>
                </li>
                <li class="listBenefits__itemCenter">
                    <img src="../media/extraIcons/icon-benefitBag.svg" alt="Benefit icon">
                    <p>
                        Vender en e-commerce y recibir los pagos desde donde esté.
                    </p>
                </li>
                <li class="listBenefits__itemCenter">
                    <img src="../media/extraIcons/icon-benefitQR.svg" alt="Benefit icon">
                    <p>
                        Generar un QR inmediato para vender y la posibilidad de solicitar un datáfono físico.
                    </p>
                </li>
                <li class="listBenefits__itemCenter">
                    <img src="../media/extraIcons/icon-safetyBox.svg" alt="Benefit icon">
                    <p>
                        Recibir diariamente el abono de sus ventas.
                    </p>
                </li>
                <li class="listBenefits__itemCenter">
                    <img src="../media/extraIcons/icon-benefitPhone.svg" alt="Benefit icon">
                    <p>
                        Consultar la información de las ventas desde su celular.
                    </p>
                </li>
                <li class="listBenefits__itemCenter">
                    <img src="../media/extraIcons/icon-benefitPlay.svg" alt="Benefit icon">
                    <p>
                        Para conocer más detalle de nuestra oferta, haga clic <a>aquí</a>.
                    </p>
                </li>
                <li class="listBenefits__itemCenter">
                    <img src="../media/extraIcons/icon-benefitPaper.svg" alt="Benefit icon">
                    <p>
                        Aplica para personas naturales con negocio que tengan su registro único tributario
                        <strong class="fw-medium">RUT</strong> ante la DIAN.
                    </p>
                </li>
            </ul>
            <div class="helper">
                <p class="helper__text">
                    Si usted no cuenta con RUT puede solicitarlo en línea en la página web de la DIAN.
                </p>
            </div>
        </div>

        <!-- Buttons -->
        <div class="contButtons">
            <button id="nextButton" type="button" class="button--primary">Continuar</button>
        </div>

    </section>

    <!-- call script -->
    <script src="../js/main.js"></script>

</body>

</html>