<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../media/_defaultIcons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>
<body>

    <!-- #region Modal -->
    <section class="contModal contModal--isShow" id="modal1">
        <div class="modal--medium">
            <!-- el header del modal queda fuera del scroll -->
            <div class="modalHeader">
                <div class="modalIcon mt-8px">
                    <img class="modalIcon__img--large" src="../media/_defaultIcons/Icon-popUp-info.svg" alt="icono modal">
                </div>
            </div>
            <!-- el body del molda posee scroll -->
            <div class="modalBody mt-8px">
                <div class="modalInfo">
                    <p class="modalInfo__description">
                        Esta afiliación está disponible únicamente para negocios que cuenten con RUT.
                        <br><br>
                        Tenemos para usted la opción de <strong>Generar códigos QR para Vender</strong>, en el menú Transferencias y Avances, opción Transferencias con QR.
                    </p>
                </div>
                <!-- button modal -->
                <div class="contButtons mt-16px">
                    <button type="button" class="button--primary" onclick="hideModal('modal1')">Aceptar</button>
                </div>
            </div>
        </div>
    </section>
    <!-- #endregion Modal -->

    <!--  Scripts -->
    <script src="../js/main.js"></script>
</body>
</html>
