<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../media/_defaultIcons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../plugins/swiper/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">

        <!-- #region ContentBox -->
        <div class="contentBox mxw-550px">
            <!-- Titulo Principal -->
            <h2 class="contentBox__title">Solicitud de cuenta</h2>
            <!-- Lista de beneficios -->
            <ul class="listBenefits">
                <p class="contentBox__text pl-6px">
                    Para continuar la afiliación y recibir el abono de sus ventas, conozca los beneficios y solicite una
                    <strong class="fw-medium">Cuenta Móvil Negocio.</strong>
                </p>
                <li class="listBenefits__itemCenter">
                    <img src="../media/extraIcons/icon-circleDolar.svg" alt="Benefit icon">
                    <p>
                        Maneje su cuenta de ahorros sin cuota de manejo ni costos de administración.
                    </p>
                </li>
                <li class="listBenefits__itemCenter">
                    <img src="../media/extraIcons/icon-benefitHandBag.svg" alt="Benefit icon">
                    <p>
                        Mayor seguridad en sus ventas al reducir el manejo de efectivo.
                    </p>
                </li>
                <li class="listBenefits__itemCenter">
                    <img src="../media/extraIcons/icon-benefitCellphone.svg" alt="Benefit icon">
                    <p>
                        Facilite el manejo contable de su negocio al concentrar sus ventas en su cuenta.
                    </p>
                </li>
                <li class="listBenefits__itemCenter">
                    <img src="../media/extraIcons/icon-benefitHeartHands.svg" alt="Benefit icon">
                    <p>
                        Este producto cuenta con el seguro de depósitos <strong>FOGAFIN.</strong>
                    </p>
                </li>
            </ul>
            <!-- Helper -->
            <div class="helper--long">
                <p class="helper__text">
                    Este seguro lo protege frente a la liquidación de una entidad financiera y garantiza la recuperación
                    total o parcial de los ahorros hasta por 50 millones de pesos.
                </p>
            </div>
        </div>
        <!-- #endregion ContentBox -->
        <!--  Buttons -->
        <div class="contButtons">
            <button id="nextButton" type="button" class="button--primary">Continuar</button>
        </div>

    </section>

    <!--  call script -->
    <script src="../js/main.js"></script>
    <script src="../js/forms.js"></script>

</body>

</html>