<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../media/_defaultIcons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">
        <!-- Back button -->
        <a href="javascript:void(0)" class="backButton hidden" id="backButton" onclick="showUserInfoBtnBack('userGeneralInfo','userSpecificInfo')">
            <img src="../media/_defaultIcons/icon-arrowBack.svg" alt="Icono botón atras">
            Atrás
        </a>

        <div class="contentBox mxw-550px">
            <!-- Tracking -->
            <div class="trackingMain">
                <h2 tabindex="0" class="trackingMain__title">Mis Datos</h2>
                <ul class="trackingMain__dataNav">
                    <li class="complete"></li>
                    <li class="complete"></li>
                    <li class=""></li>
                </ul>
            </div>
            <!-- Informacion general usuario-->
            <div class="userIconContainer">
                <img src="../media/extraIcons/icon-user.svg" alt="">
            </div>
            <div class="userGeneralInfo">
                <h2 class="profileName">
                    Daniela Gómez
                </h2>
                <button class="button--transparent" onclick="showUserInfo('userGeneralInfo','userSpecificInfo')">
                    Ver datos de mi cédula
                </button>
                <div class="contextInfo--typeB">
                    <p>Complete la información requerida para la apertura de su producto.</p>
                </div>
            </div>
            <!--Informacion detallada usuario-->
            <div class="userSpecificInfo hidden">
                <div class="result mb-0px">
                    <div class="resultItem--typeB pb-10px">
                        <p class="resultItem__title wh-90 fz-16px">Datos de mi cédula</p>
                    </div>
                    <div class="resultItem--typeB">
                        <p class="resultItem__title wh-90">Nombre completo</p>
                        <p class="resultItem__info">Daniela Gómez</p>
                    </div>
                    <div class="resultItem--typeB">
                        <p class="resultItem__title wh-90">Tipo de documento</p>
                        <p class="resultItem__info">Cédula de ciudadanía</p>
                    </div>
                    <div class="resultItem--typeB">
                        <p class="resultItem__title wh-90">Número de documento</p>
                        <p class="resultItem__info">1.032.501.855</p>
                    </div>
                    <div class="resultItem--typeB">
                        <p class="resultItem__title wh-90">Fecha de nacimiento</p>
                        <p class="resultItem__info">12/03/1995</p>
                    </div>
                    <div class="resultItem--typeB">
                        <p class="resultItem__title wh-90">Sexo</p>
                        <p class="resultItem__info">Femenino</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="contButtons">
            <button type="button" class="button--primary">Continuar</button>
        </div>

    </section>

    <!-- call script -->
    <script src="../js/main.js"></script>
    <script src="../js/forms.js"></script>
</body>

</html>