<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../media/_defaultIcons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">
        <!-- Back button -->
        <a href="javascript:void(0)" class="backButton">
            <img src="../../media/_defaultIcons/icon-arrowBack.svg" alt="Icono botón atras">
            Atrás
        </a>

        <!-- #region ContentBox -->
        <div class="contentBox mxw-550px">
            <h2 class="contentBox__title">Paso 2</h2>
            <h2 class="contentBox__title--large">Tomar foto de su rostro</h2>
            <div class="contentBox__gifContainer ">
                <img src="../../media/GIFs/face-id.gif" alt="">
            </div>
            <p class="contentBox__p ta-center">
                Ubique el celular frente a su rostro, enfóquelo en el óvalo pequeño y luego en el grande. Las
                fotografias se tomarán automáticamente.
            </p>
        </div>
        <!-- #endregion ContentBox -->

        <!-- Buttons -->
        <div class="contButtons">
            <button type="button" class="button--primary">Continuar</button>
        </div>

    </section>

    <!-- call script -->
    <script src="../../js/main.js"></script>
    <script src="../../js/forms.js"></script>
</body>

</html>