.gifContainer{
    width: calc(100% - 16px);
    max-width: 450px;
    margin: 0 auto 16px;
    border-radius: 10px;
    overflow: hidden;
    img{
        display: block;
        width: 100%;
    }
}