<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../media/_defaultIcons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <!-- #region Main Region -->
    <section class="container">

        <!-- back button -->
        <a href="javascript:void(0)" class="backButton">
            <img src="../../media/_defaultIcons/icon-arrowBack.svg" alt="Icono atras">
            Atrás
        </a>

        <!-- container para terminos y condiciones -->
        <div class="contentBoxTyc mt-0px">
            <h2 class="mV-32px">AUTORIZACIÓN DÉBITO AUTOMÁTICO</h2>

            <p class="smallText">Autorizo al BANCO DAVIVIENDA S.A. de conformidad con las condiciones de uso del servicio de débito
                automático, las cuales se me ha informado están publicadas en www.davivienda.com, para que en caso de
                que me aprueben los productos: ___(CAMPO VARIABLE)______ aquí solicitados, se debite de la cuenta de
                ahorros sobre la cual estoy realizando el proceso de apertura, el valor correspondiente a la cuota
                periódica de la obligación adquirida con Davivienda, así como cualquier otra suma que resulte a su
                favor, según las condiciones del producto. </p>
        </div>
        <!-- #endregion Box Container -->
        <!-- botones -->
        <div class="contButtons">
            <button type="button" class="button--primary">Aceptar</button>
        </div>

    </section>
    <!-- #endregion Main Region -->

    <!--  call script -->
    <script src="../../js/main.js"></script>
</body>

</html>