<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../media/_defaultIcons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">
        <!-- back button -->
        <a href="javascript:void(0)" class="backButton">
            <img src="../../media/_defaultIcons/icon-arrowBack.svg" alt="Icono atras">
            Atrás
        </a>

        <!-- container para terminos y condiciones -->
        <div class="contentBoxTyc">
            <h2 class="">Autorizacion de datos personales</h2>

            <p class="smallText">Autorizo de manera previa, voluntaria, informada y expresa al Banco Davivienda S.A., en adelante
                Davivienda, para que recolecte, almacene, comparta y trate los datos que he suministrado en el proceso
                de vinculación y los que llegue a suministrar al usar los productos y servicios contratados, para
                las siguientes finalidades:</p>

            <p class="smallText">1. Desarrollar los procesos que se requieran para la adecuada prestación de los productos y
                servicios contratados.</p>

            <p class="smallText">2. Mejorar y profundizar la relación contractual, incluyendo el envío de información
                sobre eventos, novedades, promociones, publicidad y programas de fidelidad ofrecidos por Davivienda.</p>

            <p class="smallText">3. Realizar procesos de autenticación y recordación automática de los datos para el
                logueo de acceso a los canales digitales de Davivienda, así como procesos de seguridad.</p>

            <p class="smallText">4. Actualizar y compartir mis datos de contacto y mi información financiera con las empresas o
                aliados, cuando sea necesario para la ejecución de los contratos que respaldan los servicios y
                productos ofrecidos. Davivienda no compartirá mi información con terceros que no guarden
                relación con la autorización dada por mí.</p>

            <p class="smallText">5. Compartirlos con entidades del Grupo Empresarial Bolívar, cuya matriz es Grupo Bolívar
                S.A., ubicadas dentro o fuera del territorio de la República de Colombia, las cuales aparecen
                listadas en <span
                    class="wordBreak">https://www.sociedadesbolivar.com.co/wps/portal/web/nuestrascompanias,</span> en
                donde se informa el tipo de actividad que cada una desarrolla, a efecto de que me sean ofrecidos sus
                productos o servicios comerciales, así como para desarrollar actividades de conocimiento del cliente,
                campañas comerciales, publicitarias y marketing.
            </p>

            <p class="smallText">6. Compartirlos con aliados comerciales y estratégicos, los cuales estarán listados en la
                página web de cada una de las compañías, a efecto de ofrecer y desarrollar ofertas
                de valor.</p>

            <p class="smallText">Para estos fines autorizo el uso de mi correo electrónico, correo postal, teléfono fijo,
                celular, fax, SMS, MSM, redes sociales, notificaciones push y medios similares. Entiendo que Davivienda
                realizará el tratamiento de datos dentro los parámetros establecidos en la Ley 1581 de
                2012, el Decreto Reglamentario 1377 de 2013 y demás normatividad aplicable.</p>

            <p class="smallText">Asimismo, declaro que:</p>

            <p class="smallText">1. He sido informado que la Política de Tratamiento de Datos Personales de Davivienda está
                publicada.</p>

            <p class="smallText">2. Como titular de mis datos personales, tengo los derechos establecidos en la Ley 1581 de 2012, el
                Decreto 1377 de 2013 y demás normas que los modifiquen, complementen, adicionen o deroguen, en
                especial el derecho a conocer, actualizar, rectificar y revocar la autorización que he otorgado
                para el uso de mis datos personales. Dichos derechos están publicados en www.davivienda.com /
                información adicional / Política de protección de datos personales.</p>

            <p class="smallText">3. Puedo conocer, corregir y actualizar mis datos, así como revocar mi autorización.</p>

            <p class="smallText">4. Entiendo que la revocación de esta autorización solo operará cuando no medie un
                deber legal o contractual que obligue a conservar la información.</p>

            <p class="smallText">5. Entiendo que los datos sensibles son aquellos que pueden afectar mi intimidad o generar
                discriminación. También entiendo que es voluntario suministrar datos sensibles y que es
                facultativo responder preguntas relacionadas con ellos.</p>

            <p class=" smallText">Esta autorización estará vigente mientras yo, como titular de mis datos personales, no
                solicite a Davivienda revocarla por los canales indicados en
                <span class="wordBreak">www.davivienda.com/informaciónadicional/Políticadeprotección</span> de datos
                personales, independientemente de si finalizo o no el proceso para adquirir algún producto o servicio
                financiero.
            </p>

        </div>

        <!-- botones -->
        <div class="contButtons">
            <button type="button" class="button--primary">Aceptar</button>
        </div>

    </section>

    <!-- call script -->
    <script src="../../js/main.js"></script>
</body>

</html>