<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../media/_defaultIcons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">
        <!--  back button -->
        <a href="javascript:void(0)" class="backButton">
            <img src="../../media/_defaultIcons/icon-arrowBack.svg" alt="Icono atras">
            Atrás
        </a>

        <!-- container para terminos y condiciones -->
        <div class="contentBoxTyc">
            <h2 class="">Autorización de datos sensibles</h2>

            <p class="smallText">Los registros de su rostro y su huella corresponden a datos sensibles y, si usted no desea suministrar
                dichos datos, no podrá continuar este proceso. En tal caso, lo invitamos a realizar el proceso de
                vinculación y adquirir los productos y servicios que desea en una de nuestras oficinas.</p>

            <p class="smallText">Declaro que conozco y acepto que he sido informado por Davivienda, de manera expresa y previa a la
                recolección de la imagen de mi rostro y/o de mis huellas digitales, que:</p>

            <p class="smallText">1. Son datos de carácter sensible.</p>

            <p class="smallText">2. Davivienda requiere mi autorización para su tratamiento, de conformidad con lo establecido en
                la Ley 1581 de 2012.</p>

            <p class="smallText">3. Su registro es voluntario y para los fines que me han sido informados.</p>

            <p class="smallText">4. Así mismo, he sido informado de mi derecho a conocer, rectificar, suprimir mis datos y revocar
                mi autorización, conforme a los derechos que me asisten como titular de los datos.</p>

            <p class="smallText">Autorizo a Davivienda de manera previa, voluntaria, informada y expresa para que utilice las
                imágenes de mi rostro y/o huellas digitales, que he suministrado, suministre o llegue a
                suministrar por cualquier medio, para las siguientes finalidades:</p>

            <p class="smallText">1. Validar mi identidad para llevar a cabo el proceso de vinculación.</p>

            <p class="smallText">2. Utilizarlas como factor de autenticación para abrir productos y servicios, o como medio de
                autenticación para hacer y autorizar transacciones.</p>

            <p class="smallText">3. Recordar automáticamente mis datos para ingresar a los canales digitales del Banco.</p>

            <p class="smallText">4. Desarrollar e implementar procesos de seguridad y herramientas de prevención de fraude.</p>

            <p class="smallText">5. Agendar turnos en oficinas.</p>

            <p class="smallText">Esta autorización estará vigente mientras yo, como titular de mis datos personales, no
                solicite a Davivienda revocarla por los canales indicados en www.davivienda.com / información
                adicional / Protección de datos personales, independientemente de si finalizo o no el proceso de
                vinculación o de apertura de nuevos productos o servicios financieros.</p>

            <p class=" smallText mb-8px">Entiendo que la revocación de esta autorización solo operará cuando no medie un
                deber legal o contractual que obligue a continuar con el tratamiento de los datos.</p>

        </div>

        <!-- botones -->
        <div class="contButtons">
            <button type="button" class="button--primary">Aceptar</button>
        </div>

    </section>

    <!-- call script -->
    <script src="../../js/main.js"></script>
</body>

</html>