<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../media/_defaultIcons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">

        <!-- back button -->
        <a href="javascript:void(0)" class="backButton">
            <img src="../../media/_defaultIcons/icon-arrowBack.svg" alt="Icono atras">
            Atrás
        </a>

        <!-- container para terminos y condiciones -->
        <div class="contentBoxTyc">
            <h2 class="mb-24px">CONDICIONES DEL 4 X 1.000</h2>

            <p class="smallText">Aclaración: la exención del 4X1.000 (GMF) aplicará si es la única cuenta con
                este beneficio en el sector financiero. Si usted ya tiene una cuenta exenta deberá solicitar la
                desmarcación en dicha entidad.</p>

            <p class="smallText">Condiciones Solicitud Exención del Gravamen a Movimientos Financieros (GMF)</p>

            <p class="smallText">Conozco y acepto que al seleccionar esta opción, estoy realizando la solicitud al Banco Davivienda
                para realizar la exención del Gravamen a los Movimientos Financieros – GMF prevista en el
                numeral 1° del artículo 879 del Estatuto Tributario a la cuenta de ahorros que se
                abrirá en este proceso. Para tales efectos manifiesto a ustedes lo siguiente:</p>

            <p class="smallText">1. Declaro bajo la gravedad de juramento que realizo esta solicitud de exención en razón de
                que a la fecha no gozo de este beneficio en ninguna otra cuenta de ahorros, depósito
                electrónico o tarjeta prepago en este ni en otro establecimiento de crédito.</p>

            <p class="smallText">2. Me comprometo a no solicitar dicha exención ante otro establecimiento de crédito
                mientras esta se encuentra vigente dado que la exención sólo se puede aplicar a una cuenta
                de ahorros o depósito electrónico o tarjeta prepago por persona.</p>

            <p class="smallText">3. Autorizo el suministro de información relacionada con la cuenta seleccionada a las autoridades
                correspondientes y los demás establecimientos de crédito, para verificar la adecuada
                aplicación de la exención prevista en el numeral 1° del artículo 879 del
                Estatuto Tributario.</p>

            <p class="smallText">4. Conozco que esta novedad se hace vigente a partir del día hábil siguiente a su
                solicitud. </p>

        </div>

        <!-- botones -->
        <div class="contButtons">
            <button type="button" class="button--primary">Aceptar</button>
        </div>

    </section>
    <!-- #endregion Main Region -->

    <!-- #region call script -->
    <script src="../../js/main.js"></script>
</body>

</html>